/*Header*/
#header {
    background: #417690;
    color: #ffc;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: white;
}

#header a:hover {
    text-decoration: underline;
}
#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}



/**Body**/

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;;
}
/* LINKS */



a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
}

a img {
    border: none;
}

a.section:link, a.section:visited {
    color: white;
    text-decoration: none;
}



/*Container*/
#container {
    position: relative;
    width: 100%;
    min-width: 760px;
    padding: 0;
}
#header {
    width: 100%;
}





/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}


/*Content*/
#content {
    margin: 10px 15px;
}


/*Module*/
.module {

}
.module table {
    border-collapse: collapse;
}

/*Table*/
table {
    border-collapse: collapse;
    border-color: #ccc;
    border:1;
}

/*Global Defaults*/

h1 {
    color: #666666;
    font-size: 18px;
    margin: 0 0 0.2em;
    padding: 0 6px 0 0;
}

th {
    line-height: 13px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: white;
}


